.header {
    border-bottom: 1px solid #CACACB;
    box-shadow: 0px 0px 2px 0px #CACACB;
    height: 60px;
}

.myml {
    margin-left: 3vh;
}

.sidebar {
    border-right: 1px solid #CACACB;  
}

.menu-item {
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #919191;
}

.menu-item:hover {
    font-weight: 700;
    color: #2D2D35;
    border-right: 3px solid #2D2D35;
}

.menu-item > a:hover {
    color: #2D2D35;
}

.menu-item-active > a:hover {
    color: #2D2D35;
}

.menu-item-active {
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 3px solid #2D2D35;
    font-weight: 700;
}

.flex-fill {
    flex:1 1 auto;
  }

.bottom {
    position: fixed;
    bottom: 0px;
    height: 150px;    
}

.bottom > .helper {
    padding-top: 10px;
    margin-bottom: 10px;
}

.button {
    border-radius: 5px;
}

#upload-csv {
    width: 100%;
    height: 50px;
    background-color: #F5F200;
    align-items: center;
    justify-content:center;
    display:flex;
    font-weight: 700;
}

#upload-csv:hover {
    color: #2D2D35;
    box-shadow: 0px 0px 3px 0px #CACACB;
}

.profile-info {
    height: 150px;
}

.kpis {
    height: 150px;
}

.primary-kpi {
    background-color: #F5F200;
    border-radius: 10px;
    height: 100px;
    box-shadow: 0px 0px 5px 0px #E2E2E4;
}

.secondary-kpi {
    border-color: 1px solid #E2E2E4;
    border-radius: 10px;
    height: 100px;
    box-shadow: 0px 0px 5px 0px #E2E2E4;
    color: #919191;
    margin-left: 30px;
}

.secondary-kpi > .row > .col > div > span {
    color: #919191;
}

.KPI {
    font-size: x-large;
    font-weight: 700;
    color: #2D2D35;
}

.avatar-wrapper {
    background-color: #EBECEE;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.helper > div > .avatar-wrapper {
    height: 50px;
    width: 50px;
}

.main-msg {
    font-size: x-large;
    
}

.sub-msg {
    color: #7D7D82;
} 